:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --seconday-text-color: rgba(255, 255, 255, 0, 6);
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  line-height: 1.19;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.contacts a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.hero-title {
  color: var(--white-color);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.section h3 {
  color: var(--title-text-color);
}

.section p {
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.filter button {
  font-weight: 500;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  background-color: var(--button-color);
  color: (var(--title-text-color));
}

.filter button:hover,
.filter button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.filter li {
  list-style-type: none;
}

.projects h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.projects p {
  line-height: 1.87;
  /* identical to box height, or 187% */
  color: var(--primary-text-color);
}

.projects li {
  list-style-type: none;
}

address {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-style: normal;
}

.adress p {
  color: var(--white-color);
}

.adress a {
  color: var(--primary-text-color);
  text-decoration: none;
}
