:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --seconday-text-color: rgba(255, 255, 255, 0, 6);
  --accent-color: #2196f3;
  --white-color: #ffffff;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  line-height: 1.19;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.contacts a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.hero-title {
  color: var(--white-color);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.section h3 {
  color: var(--title-text-color);
}

.section p {
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.adress p {
  color: var(--white-color);
}

.adress a {
  color: var(--primary-text-color);
}

.filter button {
  font-weight: 500;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
}
